*{
   box-sizing: border-box;
   margin: 0;
   color: #fff;
}

body{
    background-image: url(https://www.amd.com/content/dam/amd/en/images/backgrounds/abstract/1782346-product-security-bg.jpg);
}

.menu {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    background-color:#11111195 ;
    flex-wrap: wrap;
    width: 100%;
   margin-bottom: 25px;
}

.cabeçalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 10px;
    color: #fff;
}

#intro{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#intro p {
    width: 60%;
    font-size: 1.3rem;
}

#historia{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: #000a;
    align-items: center;
    padding: 1.5rem;
}